@import '../../App.scss';

body {
    #campaign {
        width: 100%;
        padding-top: 75px;
        height: 100vh;
        overflow-y: auto;

        &::-webkit-scrollbar-track {
            background-color: none;
            border-radius: 5px;
        }
    
        &::-webkit-scrollbar {
            width: 6px;
        }
    
        &::-webkit-scrollbar-thumb:vertical {
            background-color: $mainColorHover;
        }

        //flex Attributes 
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: center;
        align-items: center;

        .navBar {
            background: $mainColor;
            height: 55px;
            width: 100vw;
            box-shadow: 0px 4px 4px -2px $shadow;
            position: fixed;
            top: 0;
            left: 0;

            //flex Attributes 
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-content: center;
            align-items: center;

            .logo {
                height: 22px;
                position: absolute;
                left: 15px;
                margin-top: 2px;
            }

            .navItem {
                height: 100%;
                padding: 0 18px;
                font-size: 14px;
                color: $white;

                //flex Attributes 
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-content: center;
                align-items: center;

                &:hover {
                    background: $mainColorHover;
                }

                .pp {
                    width: 32px;
                    height: 32px;
                    border-radius: 100%;
                    background: $white;
                    box-shadow: inset 0px 0px 10px 0px $shadow;
                }
            }
        }
    }
}